# 项目：评估和清理英国电商公司销售数据

## 分析目标

此数据分析的目的是，根据市场销售数据，挖掘畅销产品，以便制定更有效的市场策略来提升营收。

本实战项目的目的在于练习评估数据干净和整洁度，并且基于评估结果，对数据进行清洗，从而得到可供下一步分析的数据。

## 简介

原始数据集记录了一家英国在线零售公司在2010年12月1日至2011年12月9日期间的所有交易情况，涵盖了该公司在全球不同国家和地区的业务数据。该公司主要销售覆盖各个场景的礼品，包括但不限于生日礼品、结婚纪念品、圣诞礼品等等。该公司的客户群体主要包括批发商和个人消费者，其中批发商占据了相当大的比例。

数据每列的含义如下：
- `InvoiceNo`: 发票号码。6位数，作为交易的唯一标识符。如果这个代码以字母“c”开头，表示这笔交易被取消。
- `StockCode`: 产品代码。5位数，作为产品的唯一标识符。
- `Description`: 产品名称。
- `Quantity`: 产品在交易中的数量。
- `InvoiceDate`: 发票日期和时间。交易发生的日期和时间。
- `UnitPrice`: 单价。价格单位为英镑（£）。
- `CustomerID`: 客户编号。5位数，作为客户的唯一标识符。
- `Country`: 国家名称。客户所居住的国家的名称。

## 读取数据

In [2]:
import pandas as pd

In [8]:
df1 = pd.read_csv("e_commerce.csv")

## 评估数据

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

#### info可以看概况， 列的数量、列名、空缺值数量、列数据类型

In [10]:
df1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [11]:
df1.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [15]:
df1.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

查看缺失数据

In [16]:
df1.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Length: 541909, dtype: bool

查看重复数据

In [17]:
df1.value_counts()

InvoiceNo  StockCode  Description                          Quantity  InvoiceDate       UnitPrice  CustomerID  Country
555524     22698      PINK REGENCY TEACUP AND SAUCER        1        6/5/2011 11:37    2.95       16923.0     United Kingdom    20
           22697      GREEN REGENCY TEACUP AND SAUCER       1        6/5/2011 11:37    2.95       16923.0     United Kingdom    12
572861     22775      PURPLE DRAWERKNOB ACRYLIC EDWARDIAN   12       10/26/2011 12:46  1.25       14102.0     United Kingdom     8
541266     21755      LOVE BUILDING BLOCK WORD              1        1/16/2011 16:25   5.95       15673.0     United Kingdom     6
540524     21756      BATH BUILDING BLOCK WORD              1        1/9/2011 12:53    5.95       16735.0     United Kingdom     6
                                                                                                                                ..
C581490    23144      ZINC T-LIGHT HOLDER STARS SMALL      -11       12/9/2011 9:57    0.83       14397.0     United Kingdom     1
C581499    M          Manual                               -1        12/9/2011 10:28   224.69     15498.0     United Kingdom     1
C581568    21258      VICTORIAN SEWING BOX LARGE           -5        12/9/2011 11:57   10.95      15311.0     United Kingdom     1
C581569    20979      36 PENCILS TUBE RED RETROSPOT        -5        12/9/2011 11:58   1.25       17315.0     United Kingdom     1
536365     84029E     RED WOOLLY HOTTIE WHITE HEART.        6        12/1/2010 8:26    3.39       17850.0     United Kingdom     1
Name: count, Length: 401604, dtype: int64

返回各个值的个数

## 清理数据

重命名列名

In [20]:
df2 = df1.rename(columns={"InvoiceNo":"发票号码",
                          "StockCode":"产品代码",
                          "Description":"产品名称",
                          "Quantity":"产品在交易中的数量",
                          "InvoiceDate":"发票日期和时间",
                          "UnitPrice":"单价",
                          "CustomerID":"客户编号",
                          "Country":"国家"})
df2.head(10)

,发票号码,产品代码,产品名称,产品在交易中的数量,发票日期和时间,单价,客户编号,国家
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [23]:
df3 = df2.drop(["发票号码","产品代码","客户编号"], axis=1)
df3.head()

,产品名称,产品在交易中的数量,发票日期和时间,单价,国家
0,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,United Kingdom
1,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,United Kingdom

In [28]:
df3[["发票日期","时间"]]=df3["发票日期和时间"].str.split(" ", expand=True)
df4 = df3.drop(["发票日期和时间", "时间"], axis = 1)
df4.head()

,产品名称,产品在交易中的数量,单价,国家,发票日期
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,United Kingdom,12/1/2010
1,WHITE METAL LANTERN,6,3.39,United Kingdom,12/1/2010
2,CREAM CUPID HEARTS COAT HANGER,8,2.75,United Kingdom,12/1/2010
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,United Kingdom,12/1/2010
4,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,United Kingdom,12/1/2010

In [29]:
df4.isnull().sum()

产品名称         1454
产品在交易中的数量       0
单价              0
国家              0
发票日期            0
dtype: int64

In [32]:
df4["产品名称"].fillna("other production")
df4.head()

,产品名称,产品在交易中的数量,单价,国家,发票日期
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,United Kingdom,12/1/2010
1,WHITE METAL LANTERN,6,3.39,United Kingdom,12/1/2010
2,CREAM CUPID HEARTS COAT HANGER,8,2.75,United Kingdom,12/1/2010
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,United Kingdom,12/1/2010
4,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,United Kingdom,12/1/2010

In [37]:
df5 = df4.dropna()
df5.isnull().sum()

产品名称         0
产品在交易中的数量    0
单价           0
国家           0
发票日期         0
dtype: int64

In [40]:
df5["国家"].astype("category")
df5["国家"].value_counts()

国家
United Kingdom          493812
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
China                      288
Singapore                  229
USA                        218
UK                         211
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United States               73
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
U.K.                         1
Name: count, dtype: int64

In [43]:
df5 = df5.replace(["U.K.", "United Kingdom","UK"],"英国")
df5["国家"].value_counts()

国家
英国                      494024
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
China                      288
Singapore                  229
USA                        218
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United States               73
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [48]:
df6 = df5.drop_duplicates(subset = ["产品名称"])
df6.head()
df6["产品名称"].value_counts()
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4223 entries, 0 to 540421
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   产品名称       4223 non-null   object
 1   产品在交易中的数量  4223 non-null   int64
 2   单价         4223 non-null   float64
 3   国家         4223 non-null   object
 4   发票日期       4223 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 198.0+ KB

In [52]:
print(df6["单价"].max())
print(df6["单价"].min())
print(df6["单价"].sum())
print(df6["单价"].mean())

11062.06
0.0
29201.481
6.914866445654748

In [59]:
df7 = df6.drop(df6[df6["单价"]<=0.1].index)
df7

                                       产品名称  产品在交易中的数量    单价  国家        发票日期
0        WHITE HANGING HEART T-LIGHT HOLDER          6  2.55  英国   12/1/2010
1                       WHITE METAL LANTERN          6  3.39  英国   12/1/2010
2            CREAM CUPID HEARTS COAT HANGER          8  2.75  英国   12/1/2010
3       KNITTED UNION FLAG HOT WATER BOTTLE          6  3.39  英国   12/1/2010
4            RED WOOLLY HOTTIE WHITE HEART.          6  3.39  英国   12/1/2010
...                                     ...        ...   ...  ..         ...
507867       SET 10 CARDS SNOWY ROBIN 17099          1  2.91  英国  11/28/2011
512588  SET 10 CARDS SWIRLY XMAS TREE 17104          2  2.91  英国  11/29/2011
527065            LETTER "U" BLING KEY RING         12  0.29  英国   12/5/2011
537621   CREAM HANGING HEART T-LIGHT HOLDER          4  2.95  英国   12/8/2011
540421          PAPER CRAFT , LITTLE BIRDIE      80995  2.08  英国   12/9/2011

[4034 rows x 5 columns]

In [60]:
print(df7["单价"].max())
print(df7["单价"].min())
print(df7["单价"].sum())
print(df7["单价"].mean())

11062.06
0.12
29201.21
7.238772930094199

## 保存清理后的数据